<section class="container">

  <form class="formulario" (ngSubmit)="transferir()">
    <h2 class="Titulo">Nova Transferencia</h2>

    <div class="form-field">
      <label for="valor">Valor</label>
      <input id="valor" type="number" [(ngModel)]="valor" name="valor">
    </div>

    <div class="form-field">
      <label for="destino">Destino</label>
      <input id="destino" type="text" [(ngModel)]="destino" name="destino">
    </div>

    <div class="botao-wrapper">
      <button type="submit">Transferir</button>
    </div>

  </form>

</section>


